
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pre_registration.name %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @pre_registration.modalities_type.name %>
</p>
<p>
  <strong>Deporte:</strong>
  <%= @pre_registration.sport.name %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @pre_registration.description %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pre_registration.mail %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @pre_registration.tournament %>
</p>

<p>
  <strong>Aceptacion:</strong>
  <%= @pre_registration.acceptance %>
</p>

<%= link_to 'Editar', edit_pre_registration_path(@pre_registration) %> |
<%= link_to 'Atras', pre_registrations_path %>
