
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pre_registration.name %>
</p>

<p>
  <strong>Modalities:</strong>
  <%= @pre_registration.modalities_type.name %>
</p>
<p>
  <strong>Deporte:</strong>
  <%= @pre_registration.sport.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @pre_registration.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @pre_registration.mail %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @pre_registration.tournament.name %>
</p>

<p>
  <strong>Acceptance:</strong>
  <%= @pre_registration.acceptance.name %>
</p>

<%= link_to 'Edit', edit_pre_registration_path(@pre_registration) %> |
<%= link_to 'Back', pre_registrations_path %>
