
<%= form_for [@sport,@team] do |f| %>
<%# if current_user.email != @team.lider and current_user.admin == false %>
<%#  <div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %><%#</b> No esta autorizado para acceder a esta página.</p>
 <%# </div>
</div>

<% else %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <label>Email del lider del grupo</label><br>
    <%= f.text_field :lider %>
  </div>
<% if current_user.admin %>
  <div class="field">
    <%= f.label :activo %><br>
    <%= f.check_box :active , {:checked=>false}  %>
  </div>
  <% else %>
  <div class="field ocultar">
    <%= f.label :activo %><br>
    <%= f.check_box :active  %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit  "Guardar"%>
  </div>
<%# end %>
<% end %>
