<div class="contenidop ">
  <div class="img1"></div>
  <div class="img2"></div>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

    </ul>
  <div id="myTabContent" class="tab-content">
    <div class="" id="inicio">
      <h1>Listado de equipos</h1>
      <div id="galeria">
        <table class="table table-striped table-hover ">
          <thead>
              <th class="tit">Nombre</th>
              <th class="tit">Sport</th>
              <th class="tit">Numero de integrantes</th>
              <th class="tit">Lider email</th>
              <th class="tit">Estado</th>
              <th colspan="3">Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% @teams.each do |team| %>
              <tr>
                <% if current_user.admin == true || current_user.email == team.lider  %>
                  <td>
                    <%= button_to team.nombre, team_integrantes_path(team), :method=>"get", class: "btn btn-default btn-sm"  %>
                  </td>
                <% else %>
                  <td>
                    <%= button_to team.nombre, team_integrantes_path(team), :method=>"get", class: "btn btn-default btn-sm disabled"  %>
                  </td>
                <% end %>
                <td>
                  <%= team.sport.name %>
                </td>
                <td>
                  <span class="label label-primary">
                    <%= team.integrantes.count.to_s %>
                  </span>
                </td>
                <td>
                  <%= team.lider %>
                </td>
                <td>
                  <%= mostrar_activo(team.active) %>
                </td>
                <td>
                  <%= link_to 'Ver', sport_team_path(@sport,team) %>
                </td>
                <% if current_user.admin == true || current_user.email == team.lider  %>
                  <td>
                    <%= link_to 'Editar', edit_sport_team_path(@sport,team) %>
                  </td>
                <% end %>
                <% if current_user.admin == true || current_user.email == team.lider %>
                  <td>
                    <%= link_to 'Eliminar', sport_team_path(@sport,team), method: :delete, data: { confirm: 'Estas seguro?' } %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <%= button_to 'Volver a la lista de deportes', sports_path,  :method=>"get", class: "btn btn-primary volver" %>
      <%= button_to 'Ir a los Torneos', tournaments_path, :method=>"get", class: "btn btn-success siguiente" %>
      <%=
        if @sport.id == 1
       button_to 'Ir a los Partidos', pfutbols_path, :method=>"get", class: "btn btn-warning ir" 
        elsif @sport.id == 3
        button_to 'Ir a los Partidos', pbaloncestos_path, :method=>"get", class: "btn btn-warning ir" 
        end  
       %>
    </div>
  </div>
</div>