<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @team.nombre %>
</p>
<p>
  <strong>Activo?:</strong>
  <%= mostrar_activo(@team.active) %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @team.sport %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
