<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @team.nombre %>
</p>
<p>
  <strong>Activo?:</strong>
  <%= mostrar_activo(@team.active) %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @team.sport %>
</p>

<%= link_to 'Editar', edit_sport_team_path(@sport,@team) %> |
<%= link_to 'Atras', sport_teams_path(@sport) %>
