<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_configuration.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_configuration.description %>
</p>

<%= link_to 'Edit', edit_type_configuration_path(@type_configuration) %> |
<%= link_to 'Back', type_configurations_path %>
