<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @acceptance.description %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @acceptance.user %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @acceptance.rol %>
</p>

<%= link_to 'Editar', edit_acceptance_path(@acceptance) %> |
<%= link_to 'Atras', acceptances_path %>
