<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @acceptance.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @acceptance.user %>
</p>

<%= link_to 'Edit', edit_acceptance_path(@acceptance) %> |
<%= link_to 'Back', acceptances_path %>
