<%= simple_form_for(@sport, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>
  <% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% @sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <label>Modalidad de Juego</label><br>
    <%= f.collection_select :modalitie_id, Modalitie.all, :id, :name, class: "form-control", prompt: "seleccione modalidad" %>
  </div>
  <div class="field">
    <label>Reglas de Juego</label><br>
    <%= f.collection_select :rule_id, Rule.all, :id, :name, class: "form-control", prompt: "seleccione regla" %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Deporte'%>
  </div>
<% end %>
