<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sport.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @sport.description %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @sport.modality %>
</p>

<p>
  <strong>Regla:</strong>
  <%= @sport.rule %>
</p>

<%= link_to 'Editar', edit_sport_path(@sport) %> |
<%= link_to 'Atras', sports_path %>
