<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @configuration.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @configuration.description %>
</p>

<p>
  <strong>Type configuration:</strong>
  <%= @configuration.type_configuration %>
</p>

<p>
  <strong>User:</strong>
  <%= @configuration.user %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
