<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @score.description %>
</p>

<p>
  <strong>Fecha Puntuación:</strong>
  <%= @score.datescore %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @score.modalitie %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @score.team %>
</p>

<%= link_to 'Editar', edit_score_path(@score) %> |
<%= link_to 'Atras', scores_path %>
