<div class="ptenismesa">
<p id="notice"><%= notice %></p>

<p>
  <strong>Primer Participante:</strong>
  <%= @ptenismesa.participante1%>
</p>

<p>
  <strong>Puntos Participante1:</strong>
  <%= @ptenismesa.puntos1 %>
  <%= 
  if @ptenismesa.gano1 == true and @ptenismesa.gano2 == true
    em()
  else
    gan(@ptenismesa.gano1) 
  end
  %>
</p>

<p>
  <strong>Segundo Participante:</strong>
  <%= @ptenismesa.participante2 %>
</p>

<p>
  <strong>Puntos Participante2:</strong>
  <%= @ptenismesa.puntos2 %>
  <%=
  if @ptenismesa.gano1 == true and @ptenismesa.gano2 == true
    em()
  else
    gan(@ptenismesa.gano2) 
  end
  %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @ptenismesa.tournament.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ptenismesa.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= estado(@ptenismesa.estado) %>
</p>

<p>
  <strong>User:</strong>
  <%= @ptenismesa.user.nombre %>
</p>

</div>