<div class="contenidop ">
  <div class="img1"></div>
  <div class="img2"></div>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

    </ul>
  <div id="myTabContent" class="tab-content">
    <div class="" id="inicio">
    <div class="slideExpandUp">
     <%= render 'nombrepartidots/index' %>
     </div>
<h1>Partidos de tenis de mesa</h1>
 <div class="paginacion">Encuentros: <b><%= @ptenismesas.count %> </b><%= will_paginate @ptenismesas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th colspan="2">Participante1</th>
      <th>Puntos_Torneo</th>
      <th colspan="2">Participante2</th>
      <th>Puntos_Torneo</th>
      <th>Responsable</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @ptenismesas %>
  </tbody>
</table>

<br>

<%= if can? :create, @ptenismesa
button_to 'Nuevo encuentro', new_ptenismesa_path , remote: true, class: 'btn btn-info', :method => "get"
end %>
 <div class="paginacion">Encuentros: <b><%= @ptenismesas.count %> </b><%= will_paginate @ptenismesas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>

</div>
<p class="pull-right"><strong>Generar</strong><%= link_to image_tag('pdf.png', :size => "50x50", class: "pdf"), ptenismesas_path(@ptenismesas, format: "pdf") %></p>
</div>
</div>