<p id="notice"><%= notice %></p>

<p>
  <strong>Participante1:</strong>
  <%= @ptenismesa.participante1 %>
</p>

<p>
  <strong>Puntos1:</strong>
  <%= @ptenismesa.puntos1 %>
</p>

<p>
  <strong>Participante2:</strong>
  <%= @ptenismesa.participante2 %>
</p>

<p>
  <strong>Puntos2:</strong>
  <%= @ptenismesa.puntos2 %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @ptenismesa.tournament_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ptenismesa.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ptenismesa.estado %>
</p>

<p>
  <strong>User:</strong>
  <%= @ptenismesa.user_id %>
</p>

<%= link_to 'Edit', edit_ptenismesa_path(@ptenismesa) %> |
<%= link_to 'Back', ptenismesas_path %>
