<h1>Listing type_preferences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_preferences.each do |type_preference| %>
      <tr>
        <td><%= type_preference.name %></td>
        <td><%= type_preference.description %></td>
        <td><%= link_to 'Show', type_preference %></td>
        <td><%= link_to 'Edit', edit_type_preference_path(type_preference) %></td>
        <td><%= link_to 'Destroy', type_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type preference', new_type_preference_path %>
