<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_preference.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_preference.description %>
</p>

<%= link_to 'Edit', edit_type_preference_path(@type_preference) %> |
<%= link_to 'Back', type_preferences_path %>
