<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
       <%= f.label :nombre %><br />
       <%= f.text_field :nombre %>
  </div>

 <div class="field">
       <%= f.label :email %><br />
       <%= f.text_field :email %>
  </div>
  <div class="field">
    <label>Tipo de documento</label><br>
    <%= f.collection_select :document_type_id, DocumentType.all, :id, :description, class: "form-control", prompt: "Seleccione Un tipo de documento" %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>
<%#ocu(current_user.admin)%> 
  <% if can? :read, @user %>
  <p>Rol:</p>
  <div class="field">
    <%= f.label :Admin %><br>
    <%= f.check_box :admin%>
  </div>
  <div class="field">
    <%= f.label :Usuario %><br>
    <%= f.check_box :usuario%>
  </div>
  <% else %>

  <div class="field ocultar">
    <%= f.label :Usuario %><br>
    <%= f.check_box :usuario, {:checked=>true} %>
  </div>
  <% end %>
<%#</div>%>
  <div class="field">
       <%= f.label :genero %><br />
       Masculino: <%= radio_button :user, :genero, true %>
       Femenino: <%= radio_button :user, :genero, false %>
   </div>
  <br>
    <div class="actions">
      <%= f.submit 'Crear', class: "btn btn-info" %>
    </div>

<% end %>
<% if @user.email == 'sportsena.cfdcm@gmail.com' || @user.email == nil %>

<% else %>
  <%= button_to 'Eliminar esta cuenta de Sport SENA', @user, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-info-danger siguiente" %>
<% end %>