<% if current_user.admin == true || current_user.id == @user.id %>
<div class="contenidop">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="" id="inicio">
<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Tipo de documento:</strong>
  <%= @user.document_type.description %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @user.documento %>
</p>
<p>
  <strong>Rol:</strong>
  <%= rol_usuarioA(@user.admin) %>
  <%= rol_usuarioU(@user.usuario) %>
</p>
<p>
  <strong>Genero:</strong>
  <%= gen(@user.genero) %>
</p>
<% if @user.email == 'sportsena.cfdcm@gmail.com' %>
<% else %>
<%= link_to 'Editar', edit_user_path(@user) %>
<% end %>
<% if can? :read, @user %>|
<%= link_to 'Atras', users_path %>
<% end %>
</div></div></div>
<% else %>
<div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %></b> No esta autorizado para acceder a esta página.</p>
  </div>
</div>

<% end %>