<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo1:</strong>
  <%= @pmicrofutbol.equipo1 %>
</p>

<p>
  <strong>Puntos1:</strong>
  <%= @pmicrofutbol.puntos1 %>
</p>

<p>
  <strong>Puntoso1:</strong>
  <%= @pmicrofutbol.puntoso1 %>
</p>

<p>
  <strong>Equipo2:</strong>
  <%= @pmicrofutbol.equipo2 %>
</p>

<p>
  <strong>Puntos2:</strong>
  <%= @pmicrofutbol.puntos2 %>
</p>

<p>
  <strong>Puntoso2:</strong>
  <%= @pmicrofutbol.puntoso2 %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @pmicrofutbol.tournament_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pmicrofutbol.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pmicrofutbol.estado %>
</p>

<p>
  <strong>User:</strong>
  <%= @pmicrofutbol.user_id %>
</p>

<%= link_to 'Edit', edit_pmicrofutbol_path(@pmicrofutbol) %> |
<%= link_to 'Back', pmicrofutbols_path %>
