<h1>Torneos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Modalidad</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Tipo Torneo</th>
      <th>Acceptance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.modalities %></td>
        <td><%= tournament.state %></td>
        <td><%= tournament.date %></td>
        <td><%= tournament.type_tournament %></td>
        <td><%= tournament.acceptance %></td>
        <td><%= link_to 'Ver', tournament %></td>
      </tr>
    <% end %>
  </tbody>
</table>

