<div class='tournament'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Tipo Modalidad:</strong>
  <%= @tournament.modalities_type.name rescue nil %>
</p>
<p>
  <strong>Deporte:</strong>
  <%= @tournament.sport_id.name rescue nil %>
</p>

<p>
  <strong>Estado:</strong>
  <%= mostrar_estado(tournament.state) %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Tipo Torneo:</strong>
  <%= @tournament.type_tournament.name rescue nil %>
</p>


</div>