<tr id=<%= "tournament_#{tournament.id}" %>>
    <td><%= mostrar_estado(tournament.state) %></td>
	<td><%=
		if tournament.state == true
			button_to 'Ver equipos ', sport_teams_path(tournament.sport_id), :method=>"get", class: "btn btn-default btn-sm"
		else
			button_to 'Ver equipos ', sport_teams_path(tournament.sport_id), :method=>"get", class: "btn btn-default btn-sm disabled"
		end
		%>
	</td>
    <td><%= tournament.name %></td>
    <td><%= tournament.modalities_type.name rescue nil %></td>
    <td><%= tournament.sport.name rescue nil %></td>
    <td><%= tournament.date %></td>
    <td><%= tournament.type_tournament.name rescue nil %></td>
    <td><%= link_to 'Mostrar', tournament, remote: true %></td>
    <td><%= link_to 'Editar', edit_tournament_path(tournament), remote: true %></td>
    <td><%= link_to 'Eliminar', tournament, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
</tr>