<tr id=<%= "tournament_#{tournament.id}" %>>
    <td><%= tournament.name %></td>
    <td><%= tournament.modalities_type.name rescue nil %></td>
    <td><%= tournament.state %></td>
    <td><%= tournament.date %></td>
    <td><%= tournament.type_tournament.name rescue nil %></td>
    <td><%= tournament.acceptance %></td>
    <td><%= link_to 'Mostrar', tournament, remote: true %></td>
    <td><%= link_to 'Editar', edit_tournament_path(tournament), remote: true %></td>
    <td><%= link_to 'Eliminar', tournament, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
</tr>