
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Tipo Modalidad:</strong>
  <%= @tournament.modalitiestype %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tournament.state %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Tipo Torneo:</strong>
  <%= @tournament.typetournament %>
</p>

<p>
  <strong>Aceptación:</strong>
  <%= @tournament.acceptance %>
</p>

<%= link_to 'Editar', edit_tournament_path(@tournament) %> |
<%= link_to 'Atras', tournaments_path %>
