<%= form_for(@pajedrez) do |f| %>
  <% if @pajedrez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pajedrez.errors.count, "error") %> prohibited this pajedrez from being saved:</h2>

      <ul>
      <% @pajedrez.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Primer_Participante %><br>
    <%= f.text_field :participante1 %>
  </div>
  <div class="field">
   <label>Puntos obtenidos</label><br>
    <%= f.text_field :puntos1 %>
  </div>
  <div class="field">
    <%= f.label :gano %><br>
    <%= f.check_box :gano1 %>
  </div>
  <div class="field">
    <%= f.label :Segundo_Participante %><br>
    <%= f.text_field :participante2 %>
  </div>
  <div class="field">
    <label>Puntos obtenidos</label><br>
    <%= f.text_field :puntos2 %>
  </div>
  <div class="field">
    <%= f.label :gano %><br>
    <%= f.check_box :gano2 %>
  </div>
  <div class="field">
     <label>Torneo</label><br>
    <%= f.collection_select :tournament_id, Tournament.all, :id, :name, class: "form-control", prompt: "Seleccione Un Torneo" %>
  </div>
  <div class="field">
    <%= f.label :Fecha_Del_Torneo %><br>
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.check_box :estado %>
  </div>
  <div class="field">
    <label>Administrador</label><br>
    <%= f.collection_select :user_id, User.where(Admin: true).all, :id, :email, class: "form-control", prompt: "Seleccione Un Admin" %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
