
      <tr id=<%= "pajedrez_#{pajedrez.id}"%>>
        <td ><%= pajedrez.participante1 %></td>
        <td class="lin"><%= pajedrez.puntos1 %></td>
        <td >
          <%= if pajedrez.gano1 == true and pajedrez.gano2 == true
                em()
            else
                gan(pajedrez.gano1) 
            end
            %>
        </td>
        <td class="lin"><%= pajedrez.participante2 %></td>
        <td class="lin"><%= pajedrez.puntos2 %></td>
        <td >
          <%= if pajedrez.gano1 == true and pajedrez.gano2 == true
                em()
            else
                gan(pajedrez.gano2) 
            end
          %>
        </td>
        <td class="lin"><%= pajedrez.user.nombre %></td>
         <% if can? :read, pajedrez %>
        <td><%= link_to 'Ver', pajedrez, remote: true %></td>
         <% end %>
        <% if can? :update, pajedrez %>
        <td><%= link_to 'Editar', edit_pajedrez_path(pajedrez), remote: true %></td>
         <% end %>
        <% if can? :destroy, pajedrez %>
        <td><%= link_to 'Eliminar', pajedrez, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
