<div class="pajedrez">
<p id="notice"><%= notice %></p>

<p>
  <strong>Participante1:</strong>
  <%= @pajedrez.participante1 %>
   <%= if @pajedrez.puntos1 > @pajedrez.puntos2
              gano2() 
          elsif @pajedrez.puntos1 == @pajedrez.puntos2
              empate2() 
              else
                perdio2()
   end %>
</p>

<p>
  <strong>Puntos_Torneo:</strong>
  <%= @pajedrez.puntos1 %>
</p>

<p>
  <strong>Participante2:</strong>
  <%= @pajedrez.participante2 %>
  <%= if @pajedrez.puntos2 > @pajedrez.puntos1
              gano2() 
          elsif @pajedrez.puntos1 == @pajedrez.puntos2
              empate2() 
              else
                perdio2()
   end %>
</p>

<p>
  <strong>Puntos_Torneo:</strong>
  <%= @pajedrez.puntos2 %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @pajedrez.tournament.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pajedrez.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= estado(@pajedrez.estado) %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @pajedrez.user.nombre %>
</p>
</div>