<div class="contenidop ">
  <div class="img1"></div>
  <div class="img2"></div>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    </ul>
  <div id="myTabContent" class="tab-content">
    <div class="" id="inicio">
    <div class="slideExpandUp">
    <%= render 'nombrepartidods/index' %>
    </div>
<h1>Encuentros de ajedrez</h1>
 <div class="paginacion">Encuentros: <b><%= @pajedrezs.count %> </b><%= will_paginate @pajedrezs, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Primer Participante</th>
      <th colspan="2">Puntos Participante1</th>
      <th>Segundo Participante</th>
      <th colspan="2">Puntos Participante2</th>
      <th>Responsable</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @pajedrezs %>
  </tbody>
</table>

<br>

<%= if can? :create, @pajedrez
 button_to 'Nuevo encuentro', new_pajedrez_path, remote: true , :method => "get",class: "btn btn-info"
 end %>
 <div class="paginacion">Encuentros: <b><%= @pajedrezs.count %> </b><%= will_paginate @pajedrezs, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>
</div>
 <p class="pull-right"><strong>Generar</strong><%= link_to image_tag('pdf.png', :size => "50x50", class: "pdf"), pajedrezs_path(@pajedrezs, format: "pdf") %></p>
</div>
</div>