<h1>Listing type_changes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_changes.each do |type_change| %>
      <tr>
        <td><%= type_change.name %></td>
        <td><%= type_change.description %></td>
        <td><%= link_to 'Show', type_change %></td>
        <td><%= link_to 'Edit', edit_type_change_path(type_change) %></td>
        <td><%= link_to 'Destroy', type_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type change', new_type_change_path %>
