<%= form_for [@team,@integrante] do |f| %>
<%#<% if current_user.email != @team.lider and current_user.admin == false %>
 <%# <div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %><%#</b> No esta autorizado para acceder a esta página.</p>
 <%# </div>
</div>

<% else %>
  <% if @integrante.errors.any? %>
    <div id="error_explanation">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="text-warning panel-title"><%= pluralize(@integrante.errors.count, "Problemas") %> en el formulario de integrantes :</h2>
          </div>
        <div class="panel-body">
          <ul>
          <% @integrante.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <label>Tipo de documento</label><br>
    <%= f.collection_select :documenttype_id, DocumentType.all, :id, :name, class: "form-control", prompt: "Seleccione Un tipo de documento" %>
  </div>
  <div class="field">
    <%= f.label :Documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :Ficha %><br>
    <%= f.text_field :ficha %>
  </div>
  <div class="field">
    <%= f.label :No_puede_jugar? %><br>
    <%= f.check_box :lesion %>
  </div>
  <div class="actions">
    <%= f.submit  "Guardar"%>
  </div>
<%# end %>
<% end %>