<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @integrante.nombre %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @integrante.document_type.name %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @integrante.documento %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @integrante.ficha %>
</p>

<p>
  <strong>Team:</strong>
  <%= @integrante.team.nombre %>
</p>

<%= link_to 'Editar', edit_team_integrante_path(@team,@integrante) %> |
<%= link_to 'Atras', team_integrantes_path(@team) %>
