<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_rule.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_rule.description %>
</p>

<%= link_to 'Edit', edit_type_rule_path(@type_rule) %> |
<%= link_to 'Back', type_rules_path %>
