<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type_rule.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @type_rule.description %>
</p>

<%= link_to 'Editar', edit_type_rule_path(@type_rule) %> |
<%= link_to 'Atras', type_rules_path %>
