<h1>Listing constituents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Identification</th>
      <th>Birthday</th>
      <th>Mail</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituents.each do |constituent| %>
      <tr>
        <td><%= constituent.name %></td>
        <td><%= constituent.lastname %></td>
        <td><%= constituent.identification %></td>
        <td><%= constituent.birthday %></td>
        <td><%= constituent.mail %></td>
        <td><%= constituent.address %></td>
        <td><%= constituent.phone %></td>
        <td><%= constituent.gender %></td>
        <td><%= link_to 'Show', constituent %></td>
        <td><%= link_to 'Edit', edit_constituent_path(constituent) %></td>
        <td><%= link_to 'Destroy', constituent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituent', new_constituent_path %>
