<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituent.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @constituent.lastname %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @constituent.identification %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @constituent.birthday %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @constituent.mail %>
</p>

<p>
  <strong>Address:</strong>
  <%= @constituent.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @constituent.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @constituent.gender %>
</p>

<%= link_to 'Edit', edit_constituent_path(@constituent) %> |
<%= link_to 'Back', constituents_path %>
