<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @document_type.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @document_type.description %>
</p>

<%= link_to 'Editar', edit_document_type_path(@document_type) %> |
<%= link_to 'Atras', document_types_path %>
