<%= form_for(@modality) do |f| %>
  <% if @modality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modality.errors.count, "error") %> prohibited this modality from being saved:</h2>

      <ul>
      <% @modality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :players %><br>
    <%= f.text_field :players %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.text_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.text_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :modalities_type_id %><br>
    <%= f.text_field :modalities_type_id %>
  </div>
  <div class="field">
    <%= f.label :sport %><br>
    <%= f.text_field :sport_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Modalidad' %>
  </div>
<% end %>
