<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @modality.name %>
</p>

<p>
  <strong>Jugadores:</strong>
  <%= @modality.players %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @modality.activity %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @modality.tournament %>
</p>

<p>
  <strong>Tipo de Modalidad:</strong>
  <%= @modality.modalities_type %>
</p>

<%= link_to 'Editar', edit_modality_path(@modality) %> |
<%= link_to 'Atras', modalities_path %>
