<tr class="mov2" id=<%= "album_#{album.id}"%>>
        <td><%= link_to image_tag(album.image.url(:medium)), album, remote: true %><%#<p class="title"><br><%= album.title %><%#/p>%> <div class="botones"><%= link_to 'Edit', edit_album_path(album), remote: true, :class => 'btn btn-primary' %>
       <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
       <%= link_to 'Ver imagenes', album_galleries_path(album), :class=>"btn btn-default " %> &nbsp;&nbsp;&nbsp; </div>
        </td>
      </tr>