<div class="pfutbol">
  <p id="notice">
    <%= notice %>
  </p>

  <p>
    <strong>Primer Equipo:</strong>
    <%= @pfutbol.equipo1 %>
  </p>

  <p>
    <strong>Goles Equipo1:</strong>
    <%= @pfutbol.puntos1 %>
    <%= if @pfutbol.puntos1 > @pfutbol.puntos2
          gano() 
        elsif @pfutbol.puntos1 == @pfutbol.puntos2
          empate() 
          else
            perdio()
        end %>
  </p>

  <p>
    <strong>Puntos Equipo1:</strong>
    <%= @pfutbol.puntoso1 %>
  </p>
<hr>
  <p>
    <strong>Segundo Equipo:</strong>
    <%= @pfutbol.equipo2 %>
  </p>

  <p>
    <strong>Goles Equipo2:</strong>
    <%= @pfutbol.puntos2 %>
    <%= if @pfutbol.puntos2 > @pfutbol.puntos1
          gano() 
        elsif @pfutbol.puntos1 == @pfutbol.puntos2
          empate() 
          else
            perdio()
        end %>
  </p>
  <p>
    <strong>Puntos Equipo2:</strong>
    <%= @pfutbol.puntoso2 %>
  </p>
  <hr>
  <p>
    <strong>Fecha:</strong>
    <%= @pfutbol.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= estado(@pfutbol.estado) %>
  </p>

  <p>
    <strong>Responsable:</strong>
    <%= @pfutbol.user.nombre %>
  </p>

  <p>
    <strong>Torneo:</strong>
    <%= @pfutbol.tournament_id %>
  </p>

</div>