<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo1:</strong>
  <%= @pfutbol.equipo1 %>
</p>

<p>
  <strong>Puntos2:</strong>
  <%= @pfutbol.puntos2 %>
</p>

<p>
  <strong>Gano1:</strong>
  <%= @pfutbol.gano1 %>
</p>

<p>
  <strong>Equipo2:</strong>
  <%= @pfutbol.equipo2 %>
</p>

<p>
  <strong>Puntos2:</strong>
  <%= @pfutbol.puntos2 %>
</p>

<p>
  <strong>Gano2:</strong>
  <%= @pfutbol.gano2 %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pfutbol.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pfutbol.estado %>
</p>

<p>
  <strong>User:</strong>
  <%= @pfutbol.user_id %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @pfutbol.tournament_id %>
</p>

<%= link_to 'Edit', edit_pfutbol_path(@pfutbol) %> |
<%= link_to 'Back', pfutbols_path %>
