<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @fch_lg_match.startdate %>
</p>

<p>
  <strong>Fecha de Clausura:</strong>
  <%= @fch_lg_match.endingdate %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @fch_lg_match.place %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @fch_lg_match.description %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @fch_lg_match.team %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @fch_lg_match.tournament %>
</p>

<%= link_to 'Editar', edit_fch_lg_match_path(@fch_lg_match) %> |
<%= link_to 'Atras', fch_lg_matches_path %>
