<h1>Listing fch_lg_matches</h1>

<table>
  <thead>
    <tr>
      <th>Startdate</th>
      <th>Endingdate</th>
      <th>Place</th>
      <th>Description</th>
      <th>Team</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fch_lg_matches.each do |fch_lg_match| %>
      <tr>
        <td><%= fch_lg_match.startdate %></td>
        <td><%= fch_lg_match.endingdate %></td>
        <td><%= fch_lg_match.place %></td>
        <td><%= fch_lg_match.description %></td>
        <td><%= fch_lg_match.team %></td>
        <td><%= fch_lg_match.tournament %></td>
        <td><%= link_to 'Show', fch_lg_match %></td>
        <td><%= link_to 'Edit', edit_fch_lg_match_path(fch_lg_match) %></td>
        <td><%= link_to 'Destroy', fch_lg_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fch lg match', new_fch_lg_match_path %>
