<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
<h1>Fecha y lugar del partido</h1>
<%= form_tag fch_lg_matches_path, :method => 'get' do %>
<% content_tag :label do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :name => nil %>
<% end %>
<% end %>
<table  class="table table-striped table-hover " id="inicio">
  <thead>
    <tr>
      <th>Fecha de Inicio</th>
      <th>Fecha de Clausura</th>
      <th>Lugar</th>
      <th>Descripción</th>
      <th>Equipo</th>
      <th>Torneo</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @fch_lg_matches%>
  </tbody>
</table>

<br>

<%= button_to 'Nueva fecha', new_fch_lg_match_path, remote: true, :method=>"get", class: "btn btn-info" %><br>
<%= will_paginate @fch_lg_matches, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente 
&raquo;' %> 
<br> 
Partidos: <%= @fch_lg_matches.count %>
</div></div></div>