<p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @fch_lg_match.startdate %>
</p>

<p>
  <strong>Endingdate:</strong>
  <%= @fch_lg_match.endingdate %>
</p>

<p>
  <strong>Place:</strong>
  <%= @fch_lg_match.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fch_lg_match.description %>
</p>

<p>
  <strong>Team:</strong>
  <%= @fch_lg_match.team %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @fch_lg_match.tournament %>
</p>

<%= link_to 'Edit', edit_fch_lg_match_path(@fch_lg_match) %> |
<%= link_to 'Back', fch_lg_matches_path %>
