<%= simple_form_for(@match, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teamA %><br>
    <%= f.text_field :teamA %>
  </div>
  <div class="field">
    <%= f.label :teamB %><br>
    <%= f.text_field :teamB %>
  </div>
  <div class="field">
    <%= f.label :modalitie_id %><br>
    <%= f.text_field :modalitie_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.text_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :score_id %><br>
    <%= f.text_field :score_id %>
  </div>
  <div class="field">
    <%= f.label :fchlgmatch_id %><br>
    <%= f.text_field :fchlgmatch_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Equipo' %>
  </div>
<% end %>
