<tr id=<%= "match_#{match.id}" %>>
        <td><%= match.teamA %></td>
        <td><%= match.teamB %></td>
        <td><%= match.modalitie %></td>
        <td><%= match.tournament %></td>
        <td><%= match.score %></td>
        <td><%= match.fchlgmatch %></td>
        <td><%= link_to 'Ver', match, remote:true %></td>
        <td><%= link_to 'Editar', edit_match_path(match), remote: true %></td>
        <td><%= link_to 'Eliminar', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>