<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo A:</strong>
  <%= @match.teamA %>
</p>

<p>
  <strong>Equipo B:</strong>
  <%= @match.teamB %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @match.modalitie %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @match.tournament %>
</p>

<p>
  <strong>Puntuación:</strong>
  <%= @match.score %>
</p>

<p>
  <strong>Fecha lugar Equipo:</strong>
  <%= @match.fchlgmatch %>
</p>

<%= link_to 'Editar', edit_match_path(@match) %> |
<%= link_to 'Atras', matches_path %>
