<p id="notice"><%= notice %></p>

<p>
  <strong>Teama:</strong>
  <%= @match.teamA %>
</p>

<p>
  <strong>Teamb:</strong>
  <%= @match.teamB %>
</p>

<p>
  <strong>Modalitie:</strong>
  <%= @match.modalitie %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @match.tournament %>
</p>

<p>
  <strong>Score:</strong>
  <%= @match.score %>
</p>

<p>
  <strong>Fchlgmatch:</strong>
  <%= @match.fchlgmatch %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
