<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @modalities_type.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @modalities_type.description %>
</p>

<%= link_to 'Editar', edit_modalities_type_path(@modalities_type) %> |
<%= link_to 'Atras',  controller: "tipos_config", action: "index" %>
</div></div></div>