<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @modalities_type.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @modalities_type.description %>
</p>

<%= link_to 'Editar', edit_modalities_type_path(@modalities_type) %> |
<%= link_to 'Atras', modalities_types_path %>
