<h1>Listing type_informations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_informations.each do |type_information| %>
      <tr>
        <td><%= type_information.name %></td>
        <td><%= type_information.description %></td>
        <td><%= link_to 'Show', type_information %></td>
        <td><%= link_to 'Edit', edit_type_information_path(type_information) %></td>
        <td><%= link_to 'Destroy', type_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type information', new_type_information_path %>
