<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_information.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_information.description %>
</p>

<%= link_to 'Edit', edit_type_information_path(@type_information) %> |
<%= link_to 'Back', type_informations_path %>
