<%= form_for [@sport,@participante] do |f| %>
<% if current_user.email != @participante.email and current_user.admin == false %>
  <div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %></b> No esta autorizado para acceder a esta página.</p>
  </div>
</div>

<% else %>
  <% if @participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% @participante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :ficha %><br>
    <%= f.text_field :ficha %>
  </div>
  <div class="field">
    <label>Tipo de documento</label><br>
    <%= f.collection_select :document_type_id, DocumentType.all, :id, :description, class: "form-control", prompt: "Seleccione Un tipo de documento" %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
<% if current_user.admin %>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.check_box :estado , {:checked=>false}  %>
  </div>
  <% else %>
  <div class="field ocultar">
    <%= f.label :estado %><br>
    <%= f.check_box :estado  %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>

<% end %>
<% end %>