<div class="contenidop">
  <div class="img1"></div>
  <div class="img2"></div>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

    </ul>
  <div id="myTabContent" class="tab-content">
<p id="notice"><%= notice %></p>
<% if current_user.email != @participante.email and current_user.admin == false %>
  <div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %></b> No esta autorizado para acceder a esta página.</p>
  </div>
</div>

<% else %>
<p>
  <strong>Nombre:</strong>
  <%= @participante.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participante.email %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @participante.ficha %>
</p>

<p>
  <strong>Tipo De Documento:</strong>
  <%= @participante.document_type_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @participante.documento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= mostrar_activo(@participante.estado) %>
</p>
<% end %>
<%= link_to 'Editar', edit_sport_participante_path(@sport,@participante) %> |
<%= link_to 'Atras', sport_participantes_path(@sport) %>
</div></div>