
<tr id=<%= "activity_#{activity.id}" %>>
<div class="well well-sm activ">

<div class="pull-left"><%= esta(activity.state) %></div>
  <strong ><%= link_to activity.name, activity, remote: true, class: "lin" %></strong>
    

        <div class="pull-right"><%= link_to 'Descripcion', activity, remote: true %> |

    <% if can? :update, activity %>

            <%= link_to 'Editar', edit_activity_path(activity), remote: true %> |
        <% end %>
    <% if can? :create, activity %>

            <%= link_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
 </div>
  </div>
  </tr>
