<div class="contenidop">
	<div class="img1"></div>
	<div class="img2"></div>
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">

		</ul>
	<div id="myTabContent" class="tab-content">
  		<div class="" id="inicio">
			<h1>Actividades</h1>
			<%= form_tag activities_path, :method => 'get' do %>
				<% content_tag :label do %>
					<%= text_field_tag :search, params[:search], :placeholder => "Buscar por nombre..." %>
					<%= submit_tag "Buscar", :name => nil %>
				<% end %>
			<% end %>
			<div class="paginacion">Actividades: <b><%= @activities.count %> </b><%= will_paginate @activities, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>
<br>
				
				<%= render @activities %>
			
			<br>
				<% if can? :create, @activity %>
					<%= button_to 'Nueva Actividad', new_activity_path, remote: true, :method=>"get", class: "btn btn-info" %>
				<% end %>
			<br>
			<div class="paginacion">Actividades: <b><%= @activities.count %> </b><%= will_paginate @activities, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %></div>
		</div>
	</div>
</div>