<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @activity.state %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Editar', edit_activity_path(@activity) %> |
<%= link_to 'Atras', activities_path %>
