<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo1:</strong>
  <%= @pvoleibol.equipo1 %>
</p>

<p>
  <strong>Puntos1:</strong>
  <%= @pvoleibol.puntos1 %>
</p>

<p>
  <strong>Puntoso1:</strong>
  <%= @pvoleibol.puntoso1 %>
</p>

<p>
  <strong>Equipo2:</strong>
  <%= @pvoleibol.equipo2 %>
</p>

<p>
  <strong>Puntos2:</strong>
  <%= @pvoleibol.puntos2 %>
</p>

<p>
  <strong>Puntoso2:</strong>
  <%= @pvoleibol.puntoso2 %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @pvoleibol.tournament_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pvoleibol.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pvoleibol.estado %>
</p>

<p>
  <strong>User:</strong>
  <%= @pvoleibol.user_id %>
</p>

<%= link_to 'Edit', edit_pvoleibol_path(@pvoleibol) %> |
<%= link_to 'Back', pvoleibols_path %>
