<tr id=<%= "rule_#{rule.id}" %>>
    <td>
        <%= rule.name %>
    </td>
    <td>
        <div class="dcrul">
            <%= rule.description %>
        </div>
    </td>
    <td>
        <%= rule.sport.name %>
    </td>
    <td>
        <%= rule.type_rule.name %>
    </td>
    <td>
        <%= rul(rule.state) %>
    </td>
    <% if can? :read, rule %>
        <td><%= link_to 'Mostrar', rule, remote: true %></td>
    <% end %>
    <% if can? :update, rule %>
        <td>
            <%= link_to 'Editar', edit_rule_path(rule), remote: true %>
        </td>
    <% end %>
    <% if can? :destroy, rule %>
        <td>
            <%= link_to 'Eliminar', rule, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    <% end %>
</tr>