<tr id=<%= "rule_#{rule.id}" %>>
        <td><%= rule.name %></td>
        <td><div class="dc">
        <%= rule.description %></div></td>
        <td><%= rule.sport.name%></td>
        <td><%= rule.type_rule.name %></td>
        <td><%= rule(rule.state) %></td>
        <td><%= link_to 'Ver', rule, remote: true %></td>
        <% if can? :update, rule %>
        <td><%= link_to 'Editar', edit_rule_path(rule), remote: true %></td>
        <% end %>
        <% if can? :destroy, rule %>
        <td><%= link_to 'Eliminar', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>