<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @rule.description %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @rule.state %>
</p>

<%= link_to 'Editar', edit_rule_path(@rule), remote: true %> |
<%= link_to 'Atras', rules_path %>
