<div class="rule">
	<p id="notice">
		<%= notice %>
	</p>
	<p>
	  <strong>Nombre:</strong>
	  <%= @rule.name %>
	</p>
	<div class="dcacti1">
	<p>
		<strong>Descripción:</strong>
		<%= @rule.description %>
	</p>
	</div>
	<p>
	  <strong>Deporte:</strong>
	  <%= @rule.sport.name %>
	</p>
	<p>
	  <strong>Tipo De Regla:</strong>
	  <%= @rule.type_rule.name %>
	</p>
	<p>
	  <strong>Estado:</strong>
	  <%= rul(@rule.state) %>
	</p>

</div>