
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @novelty.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @novelty.description %>
</p>

<p>
  <strong>Tipo Novedad:</strong>
  <%= @novelty.newtype %>
</p>

<%= link_to 'Editar', edit_novelty_path(@novelty) %> |
<%= link_to 'Atras', novelties_path %>
