<div class="login">
<h3>Iniciar Sesión</h3><hr>
<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
  <%= label_tag :email %><br />
  <img src="assets/user.png" class="iuser">
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :Contraseña %><br />
    <img src="assets/pass.png" class="iuser">
    <%= password_field_tag :password %>
  </div><br>
  <div class="actions">
    <%= submit_tag "Entrar" , :method=>"get", class: "btn btn-info"%>
  </div>
<% end %>
</div>