<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type_tournament.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @type_tournament.description %>
</p>

<%= link_to 'Editar', edit_type_tournament_path(@type_tournament) %> |
<%= link_to 'Atras', type_tournaments_path %>
